<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>亲爱的！</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>前天 10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>问你个严肃的事</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>前天 10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>什么事？</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:05</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>你的工资是不是对我隐瞒了?</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>没有啊，每次都一分不剩的给你了。</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>网上现在流传了一句特别火的话，是关于你的。</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>是吗？说的什么？</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>要嫁就嫁程序员，钱多话少死的早！</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。。。。。</string>
		<key>icon</key>
		<string>icon_user2.png</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
