<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.model</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>Model/BaseModel/Base.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
				<string>BaseModel</string>
			</array>
			<key>Path</key>
			<string>Model/BaseModel/Base.h</string>
		</dict>
		<key>Model/BaseModel/Base.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
				<string>BaseModel</string>
			</array>
			<key>Path</key>
			<string>Model/BaseModel/Base.m</string>
		</dict>
		<key>Model/Account.h</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>Path</key>
			<string>Model/Account.h</string>
		</dict>
		<key>Model/Account.m</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>Path</key>
			<string>Model/Account.m</string>
		</dict>
		<key>Model/CityModel.h</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>Path</key>
			<string>Model/CityModel.h</string>
		</dict>
		<key>Model/CityModel.m</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>Path</key>
			<string>Model/CityModel.m</string>
		</dict>
		<key>Model/UserInfo/UserInfo.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
				<string>UserInfo</string>
			</array>
			<key>Path</key>
			<string>Model/UserInfo/UserInfo.h</string>
		</dict>
		<key>Model/UserInfo/UserInfo.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
				<string>UserInfo</string>
			</array>
			<key>Path</key>
			<string>Model/UserInfo/UserInfo.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Model/BaseModel/Base.h</string>
		<string>Model/BaseModel/Base.m</string>
		<string>Model/Account.h</string>
		<string>Model/Account.m</string>
		<string>Model/CityModel.h</string>
		<string>Model/CityModel.m</string>
		<string>Model/UserInfo/UserInfo.h</string>
		<string>Model/UserInfo/UserInfo.m</string>
	</array>
</dict>
</plist>
