<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.extensiontool</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>ExtensionTool/FormatConvert/NSDictionary(JSON).h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSDictionary(JSON).h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/NSDictionary(JSON).m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSDictionary(JSON).m</string>
		</dict>
		<key>ExtensionTool/FormatConvert/NSObject(Dictionary).h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSObject(Dictionary).h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/NSObject(Dictionary).m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSObject(Dictionary).m</string>
		</dict>
		<key>ExtensionTool/FormatConvert/NSString(Additions).h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSString(Additions).h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/NSString(Additions).m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/NSString(Additions).m</string>
		</dict>
		<key>ExtensionTool/FormatConvert/UIDevice(Identifier).h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/UIDevice(Identifier).h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/UIDevice(Identifier).m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/UIDevice(Identifier).m</string>
		</dict>
		<key>ExtensionTool/FormatConvert/TimeTransform.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/TimeTransform.h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/TimeTransform.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/TimeTransform.m</string>
		</dict>
		<key>ExtensionTool/FormatConvert/ArchiveTool.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/ArchiveTool.h</string>
		</dict>
		<key>ExtensionTool/FormatConvert/ArchiveTool.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>FormatConvert</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/FormatConvert/ArchiveTool.m</string>
		</dict>
		<key>ExtensionTool/Reachability/Reachability.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/Reachability/Reachability.h</string>
		</dict>
		<key>ExtensionTool/Reachability/Reachability.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/Reachability/Reachability.m</string>
		</dict>
		<key>ExtensionTool/Singleton/Singleton.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>Singleton</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/Singleton/Singleton.h</string>
		</dict>
		<key>ExtensionTool/TextStyle/TextStyle.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>TextStyle</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/TextStyle/TextStyle.h</string>
		</dict>
		<key>ExtensionTool/TextStyle/TextStyle.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ExtensionTool</string>
				<string>TextStyle</string>
			</array>
			<key>Path</key>
			<string>ExtensionTool/TextStyle/TextStyle.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>ExtensionTool/FormatConvert/NSDictionary(JSON).h</string>
		<string>ExtensionTool/FormatConvert/NSDictionary(JSON).m</string>
		<string>ExtensionTool/FormatConvert/NSObject(Dictionary).h</string>
		<string>ExtensionTool/FormatConvert/NSObject(Dictionary).m</string>
		<string>ExtensionTool/FormatConvert/NSString(Additions).h</string>
		<string>ExtensionTool/FormatConvert/NSString(Additions).m</string>
		<string>ExtensionTool/FormatConvert/UIDevice(Identifier).h</string>
		<string>ExtensionTool/FormatConvert/UIDevice(Identifier).m</string>
		<string>ExtensionTool/FormatConvert/TimeTransform.h</string>
		<string>ExtensionTool/FormatConvert/TimeTransform.m</string>
		<string>ExtensionTool/FormatConvert/ArchiveTool.h</string>
		<string>ExtensionTool/FormatConvert/ArchiveTool.m</string>
		<string>ExtensionTool/Reachability/Reachability.h</string>
		<string>ExtensionTool/Reachability/Reachability.m</string>
		<string>ExtensionTool/Singleton/Singleton.h</string>
		<string>ExtensionTool/TextStyle/TextStyle.h</string>
		<string>ExtensionTool/TextStyle/TextStyle.m</string>
	</array>
</dict>
</plist>
