<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.3rdparty</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>SDWebImage/MKAnnotationView+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/MKAnnotationView+WebCache.h</string>
		</dict>
		<key>SDWebImage/SDImageCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDImageCache.h</string>
		</dict>
		<key>SDWebImage/SDWebImageCompat.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageCompat.h</string>
		</dict>
		<key>SDWebImag/SDWebImageDecoder.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageDecoder.h</string>
		</dict>
		<key>SDWebImag/SDWebImageDownloader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageDownloader.h</string>
		</dict>
		<key>SDWebImag/SDWebImageDownloaderOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageDownloaderOperation.h</string>
		</dict>
		<key>SDWebImag/SDWebImageManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageManager.h</string>
		</dict>
		<key>SDWebImag/SDWebImageOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImageOperation.h</string>
		</dict>
		<key>SDWebImag/NSData+ImageContentType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/NSData+ImageContentType.h</string>
		</dict>
		<key>SDWebImag/SDWebImagePrefetcher.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/SDWebImagePrefetcher.h</string>
		</dict>
		<key>SDWebImag/UIButton+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/UIButton+WebCache.h</string>
		</dict>
		<key>SDWebImag/UIImage+GIF.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/UIImage+GIF.h</string>
		</dict>
		<key>SDWebImag/UIImage+MultiFormat.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/UIImage+MultiFormat.h</string>
		</dict>
		<key>SDWebImag/UIImage+WebP.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/UIImage+WebP.h</string>
		</dict>
		<key>SDWebImag/sdwebimage.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImage/sdwebimage.a</string>
		</dict>
		<key>UIImageView+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImageView+WebCache.h</string>
		</dict>
		<key>RegexKitLite/RegexKitLite.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>RegexKitLite</string>
			</array>
			<key>Path</key>
			<string>RegexKitLite/RegexKitLite.h</string>
		</dict>
		<key>RegexKitLite/RegexKitLite.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>RegexKitLite</string>
			</array>
			<key>Path</key>
			<string>RegexKitLite/RegexKitLite.a</string>
		</dict>
		<key>AFNetworking/AFHTTPClient.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFHTTPClient.h</string>
		</dict>
		<key>AFNetworking/AFHTTPRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFHTTPRequestOperation.h</string>
		</dict>
		<key>AFNetworking/AFImageRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFImageRequestOperation.h</string>
		</dict>
		<key>AFNetworking/AFJSONRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFJSONRequestOperation.h</string>
		</dict>
		<key>AFNetworking/AFJSONUtilities.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFJSONUtilities.h</string>
		</dict>
		<key>AFNetworking/AFNetworkActivityIndicatorManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFNetworkActivityIndicatorManager.h</string>
		</dict>
		<key>AFNetworking/AFNetworking.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFNetworking.h</string>
		</dict>
		<key>AFNetworking/AFPropertyListRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFPropertyListRequestOperation.h</string>
		</dict>
		<key>AFNetworking/AFURLConnectionOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFURLConnectionOperation.h</string>
		</dict>
		<key>AFNetworking/AFXMLRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/AFXMLRequestOperation.h</string>
		</dict>
		<key>AFNetworking/UIImageView+AFNetworking.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/UIImageView+AFNetworking.h</string>
		</dict>
		<key>AFNetworking/afnetworking.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>3rdparty</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking/afnetworking.a</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>RegexKitLite/RegexKitLite.h</string>
		<string>RegexKitLite/RegexKitLite.a</string>
		<string>AFNetworking/AFHTTPClient.h</string>
		<string>AFNetworking/AFHTTPRequestOperation.h</string>
		<string>AFNetworking/AFImageRequestOperation.h</string>
		<string>AFNetworking/AFJSONRequestOperation.h</string>
		<string>AFNetworking/AFJSONUtilities.h</string>
		<string>AFNetworking/AFNetworkActivityIndicatorManager.h</string>
		<string>AFNetworking/AFNetworking.h</string>
		<string>AFNetworking/AFPropertyListRequestOperation.h</string>
		<string>AFNetworking/AFURLConnectionOperation.h</string>
		<string>AFNetworking/AFXMLRequestOperation.h</string>
		<string>AFNetworking/UIImageView+AFNetworking.h</string>
		<string>AFNetworking/afnetworking.a</string>
		<string>SDWebImage/MKAnnotationView+WebCache.h</string>
		<string>SDWebImage/SDImageCache.h</string>
		<string>SDWebImage/SDWebImageCompat.h</string>
		<string>SDWebImag/SDWebImageDecoder.h</string>
		<string>SDWebImag/SDWebImageDownloader.h</string>
		<string>SDWebImag/SDWebImageDownloaderOperation.h</string>
		<string>SDWebImag/SDWebImageManager.h</string>
		<string>SDWebImag/SDWebImageOperation.h</string>
		<string>SDWebImag/NSData+ImageContentType.h</string>
		<string>SDWebImag/SDWebImagePrefetcher.h</string>
		<string>SDWebImag/UIButton+WebCache.h</string>
		<string>SDWebImag/UIImage+GIF.h</string>
		<string>SDWebImag/UIImage+MultiFormat.h</string>
		<string>SDWebImag/UIImage+WebP.h</string>
		<string>SDWebImag/sdwebimage.a</string>
	</array>
</dict>
</plist>
