<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.android"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!-- 打印机权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_PRINTER" />
    <!-- MSR权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_MSR"/>
    <!-- Contactless card权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_CONTACTLESS_CARD"/>
    <!-- SmartCard 权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_SMARTCARD"/>
    <!-- 串口权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_SERIAL"/>
    
    <!-- Pinpad权限 -->
    <uses-permission android:name="android.permission.WIZARPOS_PIN_GET_PIN_BLOCK"/> 
    <uses-permission android:name="android.permission.WIZARPOS_PIN_MAC" />
    <uses-permission android:name="android.permission.WIZARPOS_PIN_ENCRYPT_DATA"/>
    <uses-permission android:name="android.permission.WIZARPOS_PIN_UPDATA_USER_KEY"/>
    <uses-permission android:name="android.permission.WIZARPOS_PIN_UPDATE_MASTER_KEY"/>

    <application
         android:name="com.mt.android.sys.mvc.controller.Controller"
       android:icon="@drawable/icon"
        android:label="@string/app_name" >
         <activity 
            android:name="com.mt.android.view.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mt.app.posepay.view.activity.MainMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.MainMenuActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.mt.app.posepay.view.activity.WaitCardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.app.cardsystem.view.activity.LoginActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan">
        </activity>

         <activity
            android:name="com.mt.app.payment.activity.AppUnBindMainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.mt.android.help.activity.ListViewShowActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.AgentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.TabInnerFirstActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.TabInnerSecondActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.TabInnerThirdActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.TabInnerForthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.frame.DemoTabActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.frame.SimpleViewPagerSlideMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mt.android.help.activity.LayoutReuseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.mt.app.cardsystem.view.activity.HomeActivity" >
        </activity>
         <activity
            android:name="com.mt.app.payment.activity.BindInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.LoginIndexActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.NoLoginIndexActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.SetMenuActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.SetPassWordActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" 
             android:windowSoftInputMode="adjustPan">
        </activity>
         <activity 
            android:name="com.mt.app.payment.activity.BindCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>  
              <action android:name="android.nfc.action.NDEF_DISCOVERED"/>  
              <data android:mimeType="text/plain" />
            </intent-filter>
            
             <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>
        <activity 
            android:name="com.mt.app.payment.activity.AppBindMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">   
        </activity>
        <activity 
            android:name="com.mt.app.payment.activity.MealSelectedMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">   
        </activity>
        <activity 
            android:name="com.mt.app.payment.activity.MyCardInformationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">   
        </activity>
        <activity 
            android:name="com.mt.app.payment.activity.MyViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">   
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="10" 
     android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature  android:name="android.hardware.nfc"  android:required="true" />
    

</manifest>