<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.customview</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>UITabbar/Ivan_UITabBar.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UITabbar</string>
			</array>
			<key>Path</key>
			<string>UITabbar/Ivan_UITabBar.h</string>
		</dict>
		<key>UITabbar/Ivan_UITabBar.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UITabbar</string>
			</array>
			<key>Path</key>
			<string>UITabbar/Ivan_UITabBar.m</string>
		</dict>
		<key>UITabbar/UIBadgeView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UITabbar</string>
			</array>
			<key>Path</key>
			<string>UITabbar/UIBadgeView.h</string>
		</dict>
		<key>UITabbar/UIBadgeView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UITabbar</string>
			</array>
			<key>Path</key>
			<string>UITabbar/UIBadgeView.m</string>
		</dict>
		<key>MainNavigation/MainNavigation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>MainNavigation</string>
			</array>
			<key>Path</key>
			<string>MainNavigation/MainNavigation.h</string>
		</dict>
		<key>MainNavigation/MainNavigation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>MainNavigation</string>
			</array>
			<key>Path</key>
			<string>MainNavigation/MainNavigation.m</string>
		</dict>
		<key>UIProgressHud/UIProgressHud.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UIProgressHud</string>
			</array>
			<key>Path</key>
			<string>UIProgressHud/UIProgressHud.h</string>
		</dict>
		<key>UIProgressHud/UIProgressHud.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UIProgressHud</string>
			</array>
			<key>Path</key>
			<string>UIProgressHud/UIProgressHud.m</string>
		</dict>
		<key>IIViewDeck/IIWrapController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>IIViewDeck</string>
			</array>
			<key>Path</key>
			<string>IIViewDeck/IIWrapController.h</string>
		</dict>
		<key>IIViewDeck/IIWrapController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>IIViewDeck</string>
			</array>
			<key>Path</key>
			<string>IIViewDeck/IIWrapController.m</string>
		</dict>
		<key>IIViewDeck/IIViewDeckController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>IIViewDeck</string>
			</array>
			<key>Path</key>
			<string>IIViewDeck/IIViewDeckController.h</string>
		</dict>
		<key>IIViewDeck/IIViewDeckController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>IIViewDeck</string>
			</array>
			<key>Path</key>
			<string>IIViewDeck/IIViewDeckController.m</string>
		</dict>
		<key>UICheckbox/UICheckbox.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UICheckbox</string>
			</array>
			<key>Path</key>
			<string>UICheckbox/UICheckbox.h</string>
		</dict>
		<key>UICheckbox/UICheckbox.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>UICheckbox</string>
			</array>
			<key>Path</key>
			<string>UICheckbox/UICheckbox.m</string>
		</dict>
		<key>AdvertiseView/AdvertiseView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>AdvertiseView</string>
			</array>
			<key>Path</key>
			<string>AdvertiseView/AdvertiseView.h</string>
		</dict>
		<key>AdvertiseView/AdvertiseView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>AdvertiseView</string>
			</array>
			<key>Path</key>
			<string>AdvertiseView/AdvertiseView.m</string>
		</dict>
		<key>AdvertiseView/CarousImageView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>AdvertiseView</string>
			</array>
			<key>Path</key>
			<string>AdvertiseView/CarousImageView.h</string>
		</dict>
		<key>AdvertiseView/CarousImageView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>AdvertiseView</string>
			</array>
			<key>Path</key>
			<string>AdvertiseView/CarousImageView.m</string>
		</dict>
		<key>Toast/CustomDialog.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/CustomDialog.h</string>
		</dict>
		<key>Toast/CustomDialog.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/CustomDialog.m</string>
		</dict>
		<key>Toast/SystemDialog.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/SystemDialog.h</string>
		</dict>
		<key>Toast/SystemDialog.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/SystemDialog.m</string>
		</dict>
		<key>Toast/SystemDialog+Show.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/SystemDialog+Show.h</string>
		</dict>
		<key>Toast/SystemDialog+Show.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
				<string>Toast</string>
			</array>
			<key>Path</key>
			<string>Toast/SystemDialog+Show.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>UITabbar/Ivan_UITabBar.h</string>
		<string>UITabbar/Ivan_UITabBar.m</string>
		<string>UITabbar/UIBadgeView.h</string>
		<string>UITabbar/UIBadgeView.m</string>
		<string>MainNavigation/MainNavigation.h</string>
		<string>MainNavigation/MainNavigation.m</string>
		<string>UIProgressHud/UIProgressHud.h</string>
		<string>UIProgressHud/UIProgressHud.m</string>
		<string>IIViewDeck/IIWrapController.h</string>
		<string>IIViewDeck/IIWrapController.m</string>
		<string>IIViewDeck/IIViewDeckController.h</string>
		<string>IIViewDeck/IIViewDeckController.m</string>
		<string>UICheckbox/UICheckbox.h</string>
		<string>UICheckbox/UICheckbox.m</string>
		<string>AdvertiseView/AdvertiseView.h</string>
		<string>AdvertiseView/AdvertiseView.m</string>
		<string>AdvertiseView/CarousImageView.h</string>
		<string>AdvertiseView/CarousImageView.m</string>
		<string>Toast/CustomDialog.h</string>
		<string>Toast/CustomDialog.m</string>
		<string>Toast/SystemDialog.h</string>
		<string>Toast/SystemDialog.m</string>
		<string>Toast/SystemDialog+Show.h</string>
		<string>Toast/SystemDialog+Show.m</string>
	</array>
</dict>
</plist>
