<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.android"
    android:versionCode="1"
    android:versionName="0.0.3" >

    <application
        android:name="com.mt.app.payment.application.PaymentApplication"
        android:icon="@drawable/icon_a"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:persistent="true" >
        <activity
            android:name="com.mt.android.view.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.App_ManageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mt.android.view.activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Point_QueryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.GuideBasecardSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.GuideBaseCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Pwd_LostActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.BaseCardSetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.BaseCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.GuideBaseCardSetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Package_SelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.GuidePackage_SelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.PaymentMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.AuxiliaryFunctionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.App_Manage1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.App_Manage2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Discount_02bus_MainDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Discount_02bus_MainDetail_YacolActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />    
        <activity
            android:name="com.mt.app.payment.activity.EleCard_PaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.EleCard_BusinessCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.EleCard_pay_detailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.EleCard_pay_addCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.EleCard_BusDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.android.help.activity.AgentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.android.frame.DemoTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.tab.activity.TabEleCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.tab.activity.TabAppManageCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.tab.activity.TabDiscount_01_MainListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.tab.activity.TabDiscount_04_MainListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.Discount_01_MainListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.Discount_02_MainDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.Discount_03_MainBusinessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.Discount_04_MainDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.UserForgotPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.UserLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.UserRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.mt.app.payment.activity.MitenohelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.MyAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.AboutMitenoAcitvity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.DisDetailMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.ToMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.MainDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Discount_01_bus_MainListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Discount_01_dis_MainListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.ResetMyAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.BasecardSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.SearchNearByActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.Discount_04_Main_youhui_DetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name="com.mt.app.payment.activity.DiscountDisMerchantDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>  
          <activity
            android:name="com.mt.app.payment.activity.DiscountDisMerchantDetailsOfYacolActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mt.app.payment.activity.MapDetailsBaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.app.payment.activity.ResetMyAccountOfPhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name="com.mt.app.payment.activity.Discount_04_MainDiscountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />          
        <activity android:name="com.mt.app.payment.test.TestActivity01"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />          
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
         <service android:name="com.mt.app.payment.tools.DownloadService" >
        </service>
          <service android:name="com.mt.app.payment.tools.InterceptService" >
        </service>
    </application>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />   
    
    <!--  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />	-->

    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- 来电消音 -->
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" /> -->
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.NFC" />
    
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

</manifest>