<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.localdb</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>Fmdb/FMDatabase.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabase.h</string>
		</dict>
		<key>Fmdb/FMDatabase.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabase.m</string>
		</dict>
		<key>Fmdb/FMDatabaseAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabaseAdditions.h</string>
		</dict>
		<key>Fmdb/FMDatabaseAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabaseAdditions.m</string>
		</dict>
		<key>Fmdb/FMDatabasePool.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabasePool.h</string>
		</dict>
		<key>Fmdb/FMDatabasePool.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabasePool.m</string>
		</dict>
		<key>Fmdb/FMDatabaseQueue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabaseQueue.h</string>
		</dict>
		<key>Fmdb/FMDatabaseQueue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMDatabaseQueue.m</string>
		</dict>
		<key>Fmdb/FMResultSet.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMResultSet.h</string>
		</dict>
		<key>Fmdb/FMResultSet.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>Fmdb</string>
			</array>
			<key>Path</key>
			<string>Fmdb/FMResultSet.m</string>
		</dict>
		<key>DBManager/DBManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>DBManager</string>
			</array>
			<key>Path</key>
			<string>DBManager/DBManager.h</string>
		</dict>
		<key>DBManager/DBManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>LocalDB</string>
				<string>DBManager</string>
			</array>
			<key>Path</key>
			<string>DBManager/DBManager.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Fmdb/FMDatabase.h</string>
		<string>Fmdb/FMDatabase.m</string>
		<string>Fmdb/FMDatabaseAdditions.h</string>
		<string>Fmdb/FMDatabaseAdditions.m</string>
		<string>Fmdb/FMDatabasePool.h</string>
		<string>Fmdb/FMDatabasePool.m</string>
		<string>Fmdb/FMDatabaseQueue.h</string>
		<string>Fmdb/FMDatabaseQueue.m</string>
		<string>Fmdb/FMResultSet.h</string>
		<string>Fmdb/FMResultSet.m</string>
		<string>DBManager/DBManager.h</string>
		<string>DBManager/DBManager.m</string>
	</array>
</dict>
</plist>
