<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.mitenoframework.controller</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>RootController/RootViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>RootController</string>
			</array>
			<key>Path</key>
			<string>RootController/RootViewController.h</string>
		</dict>
		<key>RootController/RootViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>RootController</string>
			</array>
			<key>Path</key>
			<string>RootController/RootViewController.m</string>
		</dict>
		<key>HomeViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>HomeViewController.h</string>
		</dict>
		<key>HomeViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>HomeViewController.m</string>
		</dict>
		<key>MenuViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>MenuViewController.h</string>
		</dict>
		<key>MenuViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>MenuViewController.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>RootController/RootViewController.h</string>
		<string>RootController/RootViewController.m</string>
		<string>HomeViewController.h</string>
		<string>HomeViewController.m</string>
		<string>MenuViewController.h</string>
		<string>MenuViewController.m</string>
	</array>
</dict>
</plist>
