<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q1</key>
	<dict>
		<key>title</key>
		<string>Q1:如何开通电子卡包?</string>
		<key>content</key>
		<string>A：方法1：通过手机客户端方式开通\n     【第一步】下载安装手机客户端；\n【第二步】注册成为梅泰诺移动支付平台用户；\n【第三步】登录，基卡选择功能套餐；\n【第四步】根据短信提示回复相应指令；\n【第五步】完成开通电子卡包操作。\n方法2：发送短信方式开通\n【第一步】发送短信内容DGDZKB到106558892；\n【第二步】根据短信提示回复相应指令；\n【第三步】完成开通电子卡包操作。</string>
	</dict>
	<key>Q2</key>
	<dict>
		<key>title</key>
		<string>Q2:如何注册成为平台用户？</string>
		<key>content</key>
		<string>A：【第一步】新用户注册；\n【第二步】获取短信验证码；\n【第三步】完善个人信息;\n【第四步】注册成功。</string>
	</dict>
	<key>Q3</key>
	<dict>
		<key>title</key>
		<string>Q3:如何注册成为平台用户？</string>
		<key>content</key>
		<string>A：【第一步】新用户注册；\n【第二步】获取短信验证码；\n【第三步】完善个人信息;\n【第四步】注册成功。</string>
	</dict>
</dict>
</plist>
